body{
    background-color: dimgray;
}

div{
    width: 86%;
    min-height: 100px;
    background-color: lightgray;
    padding: 50px;
    border-radius: 40px;
    margin: auto;
    
}

h1{color: blanchedalmond;
    text-transform: uppercase;}

#kiraj {
    font-size: 20px;
    color: pink;
}
